%main.bg-wrapper
  %section
    .bg-section.parallax.bg1.large-text
      %h4
        Gustavson School of Business graduate, ardent globetrotter,
        diploma level pianist, avid rock climber, polyglot in training,
        photography enthusiast, junior web developer, lifelong learner -
        This is what being alive is about. What's next?
  .bg-section.static-desk
    .wrapper.main
      %h1 Experiences
      %br
      - data.cv.each do |cv|
        %h4= cv[:title]
        %p= cv[:date]
        %p= cv[:description]
  .parallax.bg1-last
    %footer
      %p content & images © 2018 Jade
